@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: #001142;
    color: white;
    display: flex;
    align-items: center;
}
header span{
    text-align: center;
    margin-right: 10px;
}
header nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0px 5px;
}
.links-nav{
    text-decoration: none;
    color: white;
}

.links-nav:hover{
    text-decoration: underline;
    color: honeydew;
}
body{
    background-color: #006bbc;
}
#noticias article{
    display: flex;
    flex-direction: column;
    text-align:center;
    background-color: #d9d9d9;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;
    padding: 15px 15px 25px 15px;
    box-shadow: 1px 1px 5px #004981;
    overflow: auto;
}
#noticias article .center-acessar-noticia{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#noticias article .acessar-noticia{
    display: flex;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    padding: 0px 5px 0px 5px;
}
#noticias article .acessar-noticia:hover{
    background-color: rgb(150, 145, 145);
    padding: 0px 10px 0px 10px;
}

footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a{
    color: white;
    padding-right: 5px;
}
footer a:hover{
    font-size: 1.1em;
}
.links-together{
    display: flex;
    padding: 0px 10px;
}
@media(max-width:450px){
    #search{
        display: block;
        width: 100px;
        padding: 4px;
        border-radius: 16px;
    }
    .links-nav:hover{
        font-size: 1.16em;
    }
    .fake-hamburger{
        display: none;
        font-family: 'Times New Roman', Times, serif;
    }
    #noticias{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
    #noticias article{
        width: 250px;
        height: 300px;
        margin: 15px 0px 40px 0px;
    }
    #noticias article .acessar-noticia:hover{
        font-size: 1.06em;
    }
}
@media(min-width:451px) and (max-width:700px){
    @media(min-width:451px) and (max-width:600px){
        .fake-hamburger{
            display: none;
        }
    }
    header span{
        font-size: 1.4em;
    }
    #search{
        width:250px;
        padding: 4px;
        border-radius: 15px;
    }
    header nav .links-nav{
        margin: 0px 5px;
        font-size: 1.1em;
    }
    header nav .links-nav:hover{
        font-size: 1.3em;
    }
    .fake-hamburger{
        color: white;
        font-size: 1.11em;
    }
    .fake-hamburger:hover{
        font-size: 1.3em;
        text-decoration:underline ;
    }
    #noticias{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #noticias article{
        margin: 15px 7px 40px 7px;
        width: 270px;
        height: 350px;
    }
    #noticias article .acessar-noticia:hover{
        font-size: 1.1em;
    }
}
@media(min-width:701px){
    header span{
        font-size: 2em;
    }
    header input{
        border-radius: 16px;
        padding: 7px;
        width: 700px;
    }
    .links-nav{
        font-size: 1.2em;
    }
    .links-nav:hover{
        font-size: 1.7em;
    }
    .fake-hamburger{
        color: white;
        font-size: 1.2em;
    }
    .fake-hamburger:hover{
        font-size: 1.7em;
        text-decoration:underline ;
    }
    #noticias{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #noticias article{
        width: 300px;
        height: 350px;
        margin: 0px 15px 40px 15px;
    }
}
/*FORM*/
.top-border{
    background-color: #f5f5f5;
    text-align: center;
    border: 2px solid black;
    border-bottom: none;
    width: fit-content;
    padding: 5px 48px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 0px 1px #004981;
}
.signin-form{
    text-align: center;
}
.borda{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-top: none;
    padding: 10px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 1px #004981 ;
}
.center-borda{
    display: flex;
    justify-content: center;
}
.center-title{
    display: flex;
    justify-content: center;
}
#nome{
    border-radius: 9px;
    margin-bottom: 2px;
}
#senha{
    border-radius: 9px;
    margin-bottom: 2px;
}
.login-link:target{
}
.center-everything{
    background-image:linear-gradient(to bottom, #006bbc,#006abc42 ,#006) ;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.border-top{
    background-color: #f5f5f5;
    text-align: center;
    border: 2px solid black;
    border-bottom: none;
    width: fit-content;
    padding: 5px 44px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 0px 1px #004981;
}
#confirmar-senha{
    border-radius: 9px;
    margin-bottom: 2px;
}
#email{
    border-radius: 9px;
    margin-bottom: 2px;
}
.link-position{
    display: flex;
    justify-content: end;
}
.form-nav{
    display: flex;
}
.form-nav span{
    padding: 0px 10px;
}
.form-nav span:hover{
    font-size: 1.1em;
    text-decoration: overline;
}